# **Load the dataset**

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
df=pd.read_csv('/content/Churn_Modelling.csv')

df.head(10)

#HANDLE THE MISSING VALUES

In [ ]:
df.isnull().sum()

RowNumber          0
CustomerId         0
Surname            0
CreditScore        0
Geography          0
Gender             0
Age                0
Tenure             0
Balance            0
NumOfProducts      0
HasCrCard          0
IsActiveMember     0
EstimatedSalary    0
Exited             0
dtype: int64

In [ ]:
df.info()  #check data type

#UNIVARIATE ANALYSIS AND DESCRIPTIVE STATISTICS

In [ ]:
df['Age'].mean()

38.9218

In [ ]:
df['Age'].median

<bound method NDFrame._add_numeric_operations.<locals>.median of 0       42
1       41
2       42
3       39
4       43
        ..
9995    39
9996    35
9997    36
9998    42
9999    28
Name: Age, Length: 10000, dtype: int64>

In [ ]:
df['Age'].std()

10.487806451704609

# **Perform  Visualizations**

In [ ]:
import seaborn as sns

In [ ]:
sns.lineplot(legend='auto')
plt.xlabel('Age', color='blue')
plt.ylabel('customer_id',color='red')

#Split data dependent & independent

In [ ]:
x = df.iloc[:,:-1].values
x

y = df.iloc[:,-1].values
y

#CATEGORICAL COLUMMN AND PERFORM ENCODING

In [ ]:
print(df['Age'].dtypes)

int64

#SPLIT THE DATA INTO TRAINING AND TESTING

In [ ]:
xtrain, xtest, ytrain, ytest = train_test_split(
    x, y, test_size=0.3, random_state=0)

#SCALE THE INDEPENDENT VALUES

In [ ]:
y = df.iloc[:,-1].values
y

array([1, 0, 1, ..., 1, 1, 0])